* {
    font-family: "Raleway", sans-serif;
}

.first_section {
    height: 100vh;
    width: 100%;
}

.img_div_1 img {
    width: 100%;
    height: 100%;
}

.img_div_2 img {
    width: 100%;
    height: 100%;
}

.img_div_2 {
    left: 50%;
    bottom: -37.5%;
    height: 550px;
}

.heading_1 {
    color: #FFA840;
    font-weight: 800;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 20px;
    font-family: "Raleway", sans-serif;
}

.text-dark_p {
    font-size: 30px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}

.second-section {
    height: 100vh;
}

.details {
    font-size: 50px;
    font-weight: 600;
}

.color_FFA840 {
    color: #FFA840;
}

.text-dark_2_p {
    font-size: 28px;
    font-weight: 300;
    line-height: 45px;
    text-align: justify;
    font-family: "Inter", sans-serif;
}


.col-box {
    padding: 0 30px;
    position: relative;
}

.col-box:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #e5e5e5;
}

h5.section-title {
    font-weight: 600;
    margin-bottom: 25px;
}

/* Timeline */
.timeline-item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 28px;
}

.timeline-dot {
    width: 8px;
    height: 8px;
    background: #f5c542;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 16px;
    height: 100%;
    border-left: 2px dashed #bdbdbd;
}

.timeline-item:last-child::before {
    display: none;
}

.year {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

.title {
    font-weight: 600;
    font-size: 15px;
}

.place {
    font-size: 14px;
    color: #777;
}

/* Contact */
.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
    font-size: 14px;
}

.contact-item i {
    font-size: 18px;
    color: #000;
    width: 20px;
}

/* Software icons */
.software-icons i {
    font-size: 26px;
    margin-right: 10px;
}

.figma {
    color: #f24e1e;
}

.ps {
    color: #31a8ff;
}

.ai {
    color: #ff9a00;
}

.ae {
    color: #9999ff;
}

.pr {
    color: #9999ff;
}

.html {
    color: #e44d26;
}

.css {
    color: #1572b6;
}

.outline-text {
  font-family: 'Raleway', sans-serif;
  font-size: 160px;
  font-weight: 800;
  letter-spacing: 6px;
  color: transparent;
  -webkit-text-stroke: 2px #8e8e8e;
  text-transform: uppercase;
  line-height: 1;
}

.content p{
    font-size: 36px;
    font-weight: 500;
    color: #000;
    text-align: start;
    font-family: "Inter", sans-serif;
}

.content img{
    width: 100%;    
    height: 100%;
}